@using Newtonsoft.Json
@model DucksOnThePond.Models.RosterViewModel

@{
    ViewBag.Title = "Team Roster";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/knockout-2.1.0.js"></script>
<script src="~/Scripts/knockout.mapping-latest.js"></script>
<script src="~/Models/Js/RosterViewModel.js"></script>

<h2>Team Roster</h2>

@{ var rosterViewModel = Model.Players.FirstOrDefault(); }

<table>
    <thead>
        <tr>
            <th>@Html.LabelFor(model => rosterViewModel.FirstName)</th>
            <th>@Html.LabelFor(model => rosterViewModel.LastName)</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: Players">
        <tr>
            <td>@Html.TextBoxFor(model => rosterViewModel.FirstName, new {data_bind = "value: FirstName"})</td>
            <td> @Html.TextBoxFor(model => rosterViewModel.LastName, new {data_bind = "value: LastName"})</td>
        </tr>
    </tbody>
</table>

<div>
    <button data-bind="click: addPlayer">Add</button>
</div>
    

