@using System.Web.Script.Serialization
@model DucksOnThePond.Models.RosterViewModel

@{
    ViewBag.Title = "Team Roster";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

<h2>Team Roster</h2>

<table class='playersEditor'>
    <tr>
        <th>Number</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    <tbody data-bind="foreach: Players">
        <tr>
            <td data-bind="text: Number" />
            <td data-bind="text: FirstName" />
            <td data-bind="text: LastName" />
        </tr>
    </tbody>
</table>
<div>
    <p>
        <button data-bind="click: addPlayer">Add a player</button>
    </p>
</div>

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/knockout-2.3.0.js"></script>

<script>
    $(document).ready(function () {
        var PlayersViewModel = function () {
            var self = this;
            
            self.Number = ko.observable("");
            self.FirstName = ko.observable("");
            self.LastName = ko.observable("");

            var Player = {
                Number: self.Number,
                FirstName: self.FirstName,
                LastName: self.LastName
            }
            
            self.Player = ko.observable();
            self.Players = ko.observableArray();
            
            $.ajax({
                url: '@Url.Action("GetAllPlayers", "Roster")',
                cache: false,
                type: 'get',
                dataType: "json",
                contentType: 'application/json; charset-utf-8',
                data: {},
                success: function (data) {
                    self.Players(data);
                }
            });

            self.addPlayer = function () {
                $.ajax({
                    url: '@Url.Action("GetAllPlayers", "Roster")',
                    cache: false,
                    type: 'post',
                    dataType: "json",
                    contentType: 'application/json; charset-utf-8',
                    data: ko.toJSON(Player),
                    success: function (data) {
                        self.Players.push(data);
                        self.Number("");
                        self.FirstName("");
                        self.LastName("");
                    }
                }).fail(function (xhr, textStatus, err) {
                    alert(err);
                });
            }
        };

        ko.applyBindings(new PlayersViewModel());
    });
</script>